<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>947945457722-oa0hentt8i4us6b63fq1ho1sbaippjq4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB2B7-iK4IlO0yQZk0HTjZyTAZlXFQUCj8</string>
	<key>GCM_SENDER_ID</key>
	<string>947945457722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jayeeapp.taxi</string>
	<key>PROJECT_ID</key>
	<string>faster-5dd74</string>
	<key>STORAGE_BUCKET</key>
	<string>faster-5dd74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:947945457722:ios:ed29d038621923d94f4d03</string>
	<key>DATABASE_URL</key>
	<string>https://faster-5dd74.firebaseio.com</string>
</dict>
</plist>